{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Integrate your data with the Samsara API, customize the Samsara experience, and join a community of developers building with Samsara.",
    "title": "Samsara API",
    "version": "2019-12-12"
  },
  "host": "api.samsara.com",
  "paths": {
    "/addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "List all addresses",
        "description": "Returns a list of all addresses in an organization",
        "operationId": "listAddresses",
        "parameters": [
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/afterParam"
          },
          {
            "$ref": "#/parameters/tagIdsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all addresses in the organization",
            "schema": {
              "$ref": "#/definitions/ListAddressesResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/StandardErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Create an address",
        "description": "Creates a new address in the organization",
        "operationId": "createAddress",
        "parameters": [
          {
            "in": "body",
            "name": "address",
            "description": "The address to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created address object with ID.",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/StandardErrorResponse"
            }
          }
        }
      }
    },
    "/addresses/{id}": {
      "parameters": [
        {
          "description": "ID of the Address. This can either be the Samsara-provided ID or an external ID. External IDs are customer-specified key-value pairs created in the POST or PATCH requests of this resource. To specify an external ID as part of a path parameter, use the following format: `key:value`. For example, `crmId:abc123`",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Retrieve an address",
        "description": "Returns a specific address.",
        "operationId": "getAddress",
        "responses": {
          "200": {
            "description": "An Address.",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/StandardErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Addresses"
        ],
        "summary": "Update an address",
        "description": "Update a specific address.",
        "operationId": "updateAddress",
        "parameters": [
          {
            "in": "body",
            "name": "address",
            "description": "The address fields to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAddressRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated address object with ID.",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/StandardErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Addresses"
        ],
        "summary": "Delete an address",
        "description": "Delete a specific address.",
        "operationId": "deleteAddress",
        "responses": {
          "204": {
            "description": "Empty success body"
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/StandardErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/vehicles/locations": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get most recent vehicle locations",
        "description": "Returns last known location for all vehicles (Samsara Vehicle Gateways). This can be optionally filtered by tags or specific vehicle IDs. See [here](https://developers.samsara.com/docs/vehicle-locations) for more details.",
        "operationId": "getVehicleLocations",
        "parameters": [
          {
            "$ref": "#/parameters/afterParam"
          },
          {
            "$ref": "#/parameters/tagIdsParam"
          },
          {
            "$ref": "#/parameters/vehicleIdsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all locations for the specified vehicles and time range.",
            "schema": {
              "$ref": "#/definitions/VehicleLocationsResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/StandardErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/vehicles/locations/history": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get historical vehicle locations",
        "description": "Returns all known vehicle location changes during the given time range for all vehicles (Samsara Vehicle Gateways). This can be optionally filtered by tags or specific vehicle IDs. See [here](https://developers.samsara.com/docs/vehicle-locations) for more details.",
        "operationId": "getVehicleLocationsHistory",
        "parameters": [
          {
            "$ref": "#/parameters/afterParam"
          },
          {
            "$ref": "#/parameters/requiredStartTimeParam"
          },
          {
            "$ref": "#/parameters/requiredEndTimeParam"
          },
          {
            "$ref": "#/parameters/tagIdsParam"
          },
          {
            "$ref": "#/parameters/vehicleIdsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all locations for the specified vehicles and time range.",
            "schema": {
              "$ref": "#/definitions/VehicleLocationsListResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/StandardErrorResponse"
            }
          }
        }
      }
    },
    "/fleet/vehicles/locations/feed": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Follow a feed of vehicle locations",
        "description": "Follow a continuous feed of all vehicle locations from Samsara Vehicle Gateways.\n\nYour first call to this endpoint will provide you with the most recent location for each vehicle and a `pagination` object that contains an `endCursor`.\n\nYou can provide the `endCursor` to the `after` parameter of this endpoint to get location updates since that `endCursor`. \n\nIf `hasNextPage` is `false`, no updates are readily available yet. We'd suggest waiting a minimum of 5 seconds before requesting updates.\n\nSee [this guide](https://developers.samsara.com/docs/vehicle-locations#section-follow-a-real-time-feed-of-vehicle-locations) for more details.",
        "operationId": "getVehicleLocationsFeed",
        "parameters": [
          {
            "$ref": "#/parameters/afterParam"
          },
          {
            "$ref": "#/parameters/tagIdsParam"
          },
          {
            "$ref": "#/parameters/vehicleIdsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all locations for the specified vehicles.",
            "schema": {
              "$ref": "#/definitions/VehicleLocationsListResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/StandardErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AddressContactIds": {
      "type": "array",
      "description": "An array of IDs of contacts to associate with this address.",
      "items": {
        "type": "string",
        "example": "22408"
      }
    },
    "AddressContacts": {
      "type": "array",
      "description": "An array of all contact mini-objects that are associated with the given address entry.",
      "items": {
        "$ref": "#/definitions/ContactTinyResponse"
      }
    },
    "AddressFormattedAddress": {
      "description": "The full street address for this address/geofence, as it might be recognized by Google Maps.",
      "type": "string",
      "maxLength": 1024,
      "example": "350 Rhode Island St, San Francisco, CA"
    },
    "AddressGeofence": {
      "description": "The geofence that defines this address and its bounds. This can either be a circle, or a polygon - only one key should be provided, depending on the geofence type.",
      "type": "object",
      "properties": {
        "circle": {
          "description": "Information about a circular geofence. This field is only needed if the geofence is a circle.",
          "type": "object",
          "required": [
            "radiusMeters"
          ],
          "properties": {
            "latitude": {
              "$ref": "#/definitions/AddressLatitude"
            },
            "longitude": {
              "$ref": "#/definitions/AddressLongitude"
            },
            "radiusMeters": {
              "description": "The radius of the circular geofence in meters.",
              "type": "integer",
              "format": "int32",
              "example": 250
            }
          }
        },
        "polygon": {
          "description": "Information about a polygon geofence. This field is only needed if the geofence is a polygon.",
          "type": "object",
          "required": [
            "vertices"
          ],
          "properties": {
            "vertices": {
              "description": "The vertices of the polygon geofence. These geofence vertices describe the perimeter of the polygon, and must consist of at least 3 vertices and less than 40.",
              "type": "array",
              "minItems": 3,
              "maxItems": 40,
              "items": {
                "type": "object",
                "required": [
                  "latitude",
                  "longitude"
                ],
                "properties": {
                  "latitude": {
                    "description": "The latitude of a geofence vertex in decimal degrees.",
                    "type": "number",
                    "format": "double"
                  },
                  "longitude": {
                    "description": "The longitude of a geofence vertex in decimal degrees.",
                    "type": "number",
                    "format": "double"
                  }
                }
              },
              "example": [
                {
                  "latitude": 37.765363,
                  "longitude": -122.403098
                },
                {
                  "latitude": 38.765363,
                  "longitude": -122.403098
                },
                {
                  "latitude": 37.765363,
                  "longitude": -123.403098
                }
              ]
            }
          }
        }
      }
    },
    "AddressId": {
      "type": "string",
      "description": "ID of the Address.",
      "example": "22408"
    },
    "AddressLatitude": {
      "description": "Latitude of the address. Will be geocoded from `formattedAddress` if not provided.",
      "type": "number",
      "format": "double",
      "example": 37.765363
    },
    "AddressLongitude": {
      "description": "Longitude of the address. Will be geocoded from `formattedAddress` if not provided.",
      "type": "number",
      "format": "double",
      "example": 37.765363
    },
    "AddressName": {
      "description": "Name of the address.",
      "type": "string",
      "example": "Samsara HQ",
      "maxLength": 255
    },
    "AddressNotes": {
      "type": "string",
      "maxLength": 280,
      "description": "Notes about the address.",
      "example": "Hours of operation: 8am - 6pm; Truck entrance on the Rhode Island street side."
    },
    "AddressTagIds": {
      "type": "array",
      "description": "An array of IDs of tags to associate with this address.",
      "items": {
        "type": "string",
        "example": "3914"
      }
    },
    "AddressTags": {
      "description": "An array of all tag mini-objects that are associated with the given address entry.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/TagTinyResponse"
      }
    },
    "AddressTypes": {
      "type": "array",
      "description": "Reporting location type associated with the address (used for ELD reporting purposes).",
      "items": {
        "type": "string",
        "enum": [
          "yard",
          "shortHaul"
        ],
        "example": "yard"
      }
    },
    "Address": {
      "description": "An Address object.",
      "type": "object",
      "properties": {
        "addressTypes": {
          "$ref": "#/definitions/AddressTypes"
        },
        "contacts": {
          "$ref": "#/definitions/AddressContacts"
        },
        "externalIds": {
          "$ref": "#/definitions/ExternalIds"
        },
        "formattedAddress": {
          "$ref": "#/definitions/AddressFormattedAddress"
        },
        "geofence": {
          "$ref": "#/definitions/AddressGeofence"
        },
        "id": {
          "$ref": "#/definitions/AddressId"
        },
        "latitude": {
          "$ref": "#/definitions/AddressLatitude"
        },
        "longitude": {
          "$ref": "#/definitions/AddressLongitude"
        },
        "name": {
          "$ref": "#/definitions/AddressName"
        },
        "notes": {
          "$ref": "#/definitions/AddressNotes"
        },
        "tags": {
          "$ref": "#/definitions/AddressTags"
        }
      },
      "required": [
        "formattedAddress",
        "geofence",
        "id",
        "name"
      ]
    },
    "CreateAddressRequest": {
      "description": "A create Address request body.",
      "type": "object",
      "properties": {
        "addressTypes": {
          "$ref": "#/definitions/AddressTypes"
        },
        "contactIds": {
          "$ref": "#/definitions/AddressContactIds"
        },
        "externalIds": {
          "$ref": "#/definitions/ExternalIds"
        },
        "formattedAddress": {
          "$ref": "#/definitions/AddressFormattedAddress"
        },
        "geofence": {
          "$ref": "#/definitions/AddressGeofence"
        },
        "latitude": {
          "$ref": "#/definitions/AddressLatitude"
        },
        "longitude": {
          "$ref": "#/definitions/AddressLongitude"
        },
        "name": {
          "$ref": "#/definitions/AddressName"
        },
        "notes": {
          "$ref": "#/definitions/AddressNotes"
        },
        "tagIds": {
          "$ref": "#/definitions/AddressTagIds"
        }
      },
      "required": [
        "formattedAddress",
        "geofence",
        "name"
      ]
    },
    "UpdateAddressRequest": {
      "description": "An update Address request body.",
      "type": "object",
      "properties": {
        "addressTypes": {
          "$ref": "#/definitions/AddressTypes"
        },
        "contactIds": {
          "$ref": "#/definitions/AddressContactIds"
        },
        "externalIds": {
          "$ref": "#/definitions/ExternalIds"
        },
        "formattedAddress": {
          "$ref": "#/definitions/AddressFormattedAddress"
        },
        "geofence": {
          "$ref": "#/definitions/AddressGeofence"
        },
        "latitude": {
          "$ref": "#/definitions/AddressLatitude"
        },
        "longitude": {
          "$ref": "#/definitions/AddressLongitude"
        },
        "name": {
          "$ref": "#/definitions/AddressName"
        },
        "notes": {
          "$ref": "#/definitions/AddressNotes"
        },
        "tagIds": {
          "$ref": "#/definitions/AddressTagIds"
        }
      }
    },
    "AddressResponse": {
      "description": "An Address response body.",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Address"
        }
      },
      "required": [
        "data"
      ]
    },
    "ListAddressesResponse": {
      "description": "A listAddresses response body.",
      "type": "object",
      "properties": {
        "data": {
          "description": "A list of Addresses.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        },
        "pagination": {
          "$ref": "#/definitions/PaginationResponse"
        }
      },
      "required": [
        "data",
        "pagination"
      ]
    },
    "VehicleLocationLatitude": {
      "description": "GPS latitude represented in degrees",
      "type": "number",
      "format": "double",
      "example": 122.142
    },
    "VehicleLocationLongitude": {
      "description": "GPS longitude represented in degrees",
      "type": "number",
      "format": "double",
      "example": -93.343
    },
    "VehicleLocationHeading": {
      "description": "Heading of the vehicle in degrees.",
      "type": "number",
      "format": "double",
      "example": 120.0
    },
    "VehicleLocationId": {
      "description": "ID of the vehicle.",
      "type": "string",
      "example": "123456789"
    },
    "VehicleLocationName": {
      "description": "Name of the vehicle.",
      "type": "string",
      "example": "Midwest Truck #4"
    },
    "VehicleLocationReverseGeo": {
      "description": "Reverse geocoded information.",
      "type": "object",
      "properties": {
        "formattedLocation": {
          "description": "Formatted address of the reverse geocoding data.",
          "type": "string",
          "example": "16 N Fair Oaks Ave, Pasadena, CA 91103"
        }
      },
      "required": [
        "formattedLocation"
      ]
    },
    "VehicleLocationSpeed": {
      "description": "GPS speed of the vehicle in miles per hour.",
      "type": "number",
      "format": "double",
      "example": 48.3
    },
    "VehicleLocation": {
      "description": "Vehicle location event.",
      "type": "object",
      "properties": {
        "latitude": {
          "$ref": "#/definitions/VehicleLocationLatitude"
        },
        "longitude": {
          "$ref": "#/definitions/VehicleLocationLongitude"
        },
        "heading": {
          "$ref": "#/definitions/VehicleLocationHeading"
        },
        "reverseGeo": {
          "$ref": "#/definitions/VehicleLocationReverseGeo"
        },
        "speed": {
          "$ref": "#/definitions/VehicleLocationSpeed"
        },
        "time": {
          "$ref": "#/definitions/Time"
        }
      },
      "required": [
        "latitude",
        "longitude",
        "heading",
        "reverseGeo",
        "speed",
        "time"
      ]
    },
    "VehicleLocationsResponse": {
      "description": "Most recent vehicle locations and pagination info.",
      "type": "object",
      "properties": {
        "data": {
          "description": "Most recent vehicle locations.",
          "type": "array",
          "items": {
            "description": "A vehicle and its most recent location.",
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/definitions/VehicleLocationId"
              },
              "name": {
                "$ref": "#/definitions/VehicleLocationName"
              },
              "location": {
                "$ref": "#/definitions/VehicleLocation"
              }
            },
            "required": [
              "id",
              "name",
              "location"
            ]
          }
        },
        "pagination": {
          "$ref": "#/definitions/PaginationResponse"
        }
      },
      "required": [
        "data",
        "pagination"
      ]
    },
    "VehicleLocationsListResponse": {
      "description": "List of vehicle locations and pagination info.",
      "type": "object",
      "properties": {
        "data": {
          "description": "List of vehicle locations.",
          "type": "array",
          "items": {
            "description": "A vehicle and its list of location events.",
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/definitions/VehicleLocationId"
              },
              "name": {
                "$ref": "#/definitions/VehicleLocationName"
              },
              "locations": {
                "description": "A list of location events.",
                "type": "array",
                "items": {
                  "$ref": "#/definitions/VehicleLocation"
                }
              }
            },
            "required": [
              "id",
              "name",
              "locations"
            ]
          }
        },
        "pagination": {
          "$ref": "#/definitions/PaginationResponse"
        }
      },
      "required": [
        "data",
        "pagination"
      ]
    },
    "ContactTinyResponse": {
      "type": "object",
      "description": "A minified contact object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the contact.",
          "example": "22408"
        },
        "firstName": {
          "type": "string",
          "description": "First name of the contact.",
          "example": "Jane"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of the contact.",
          "example": "Jones"
        }
      }
    },
    "ExternalIds": {
      "description": "User-defined dictionary of external IDs (key-value pairs). Both the keys and the values of the dictionary are of type string and must be alphanumeric. Each organization can have at most 10 unique external ID keys. To delete an external ID, set its value to null or the empty string (`\"\"`). An external ID can be used as a path parameter to retrieve or update that resource.",
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "example": {
        "maintenanceId": "250020",
        "payrollId": "ABFS18600"
      }
    },
    "PaginationResponse": {
      "type": "object",
      "description": "Pagination parameters.",
      "required": [
        "endCursor",
        "hasNextPage"
      ],
      "properties": {
        "endCursor": {
          "type": "string",
          "description": "Cursor identifier representing the last element in the response. This value should be used in conjunction with a subsequent request's 'after' query parameter. This may be an empty string if there are no more pages left to view.",
          "format": "string",
          "example": "MjkY"
        },
        "hasNextPage": {
          "type": "boolean",
          "description": "True if there are more pages of results immediately available after this endCursor.",
          "example": true
        }
      }
    },
    "StandardErrorResponse": {
      "type": "object",
      "description": "Error response",
      "properties": {
        "message": {
          "type": "string",
          "description": "The message of the error."
        },
        "requestId": {
          "type": "string",
          "description": "The ID of the request."
        }
      }
    },
    "TagTinyResponse": {
      "type": "object",
      "description": "A minified tag object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the tag.",
          "example": "3914"
        },
        "name": {
          "type": "string",
          "description": "Name of the tag.",
          "example": "East Coast"
        }
      }
    },
    "Time": {
      "type": "string",
      "description": "UTC timestamp in RFC 3339 milliseconds format.",
      "example": "2019-05-03T04:30:31.492Z"
    }
  },
  "parameters": {
    "limitParam": {
      "name": "limit",
      "in": "query",
      "description": "The limit for how many objects will be in the response. Default and max for this value is 512 objects.",
      "type": "integer",
      "format": "int64",
      "default": 512,
      "maximum": 512,
      "minimum": 1
    },
    "afterParam": {
      "name": "after",
      "in": "query",
      "description": "If specified, this should be the endCursor value from the previous page of results. When present, this request will return the next page of results that occur immediately after the previous page of results.",
      "type": "string"
    },
    "tagIdsParam": {
      "name": "tagIds",
      "description": "A filter on the data based on this comma-separated list of tag IDs. Example: `tagIds=1234,5678`",
      "collectionFormat": "csv",
      "in": "query",
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "vehicleIdsParam": {
      "name": "vehicleIds",
      "description": "A filter on the data based on this comma-separated list of vehicle IDs. Example: `vehicleIds=1234,5678`",
      "collectionFormat": "csv",
      "in": "query",
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "requiredStartTimeParam": {
      "name": "startTime",
      "description": "A start time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
      "in": "query",
      "type": "string",
      "format": "date-time",
      "required": true
    },
    "requiredEndTimeParam": {
      "name": "endTime",
      "description": "An end time in RFC 3339 format. Millisecond precision and timezones are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).",
      "in": "query",
      "type": "string",
      "format": "date-time",
      "required": true
    }
  }
}