openapi: 3.0.1
info:
  description: |
    <style type="text/css">
    n {
        padding: 1em;
        width: 100%;
        display: block;
        margin: 28px 0;
    }
    n.info {
        background-color: rgba(0, 51, 160, 0.1);
    }
    n.warning {
        background-color: #fdf6e3;
    }
    i:before {
        margin-right: 6px;
    }
    nh {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.1;
        display: block;
    }
    nb {
        margin-top: 10px;
        padding-left: 22px;
        display: block;
    }
    </style>

    # Overview

    <n class="info">
    <nh>
    <i class="fa fa-info-circle"></i>
    Something new!
    </nh>
    <nb>
    Welcome Samsara's new and improved API. Check out our FAQ [here](https://developers.samsara.com/docs/introducing-our-next-generation-api) to see what's changed and learn how to get started.<br>
    <br>
    Want to access the legacy API docs? You can find them [here](https://www.samsara.com/api-legacy).<br>
    <br>
    *Note: Because this is a new set of APIs, we have not transitioned all endpoints over to this standard. Endpoints that still use the legacy standards are indicated in the reference documentation. If you can't find an API that you're looking for, we encourage you to look for it in our [legacy API docs](https://www.samsara.com/api-legacy) as we continue to transition all endpoints over. Check back here for updates!*<br>
    <br>
    Submit your feedback [here](https://forms.gle/r4bs6HQshQAvBuwv6)!
    </nb>
    </n>

    Samsara provides API endpoints so that you can build powerful applications and custom solutions with sensor data. Samsara has endpoints available to track and analyze sensors, vehicles, and entire fleets.

    The Samsara API is a [RESTful API](https://en.wikipedia.org/wiki/Representational_state_transfer). It uses standard [HTTP](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol) authentication, verbs, and response codes, and it returns [JSON](http://www.json.org/) response bodies. If you're familiar with what you can build with a REST API, then this will be your go-to API reference.

    Visit [developers.samsara.com](https://developers.samsara.com) to find getting started guides and an API overview.

    If you have any questions, reach out to us at [support@samsara.com](mailto:support@samsara.com).

    ## Endpoints

    All our APIs can be accessed through HTTP requests to URLs like:

    ```
    https://api.samsara.com/<endpoint>
    ```

    For EU customers, this URL will be:

    ```
    https://api.eu.samsara.com/<endpoint>
    ```

    <n class="warning">
    <nh>
    <i class="fa fa-exclamation-circle"></i>
    Note
    </nh>
    <nb>
    Legacy endpoints will have the URL: `https://api.samsara.com/v1/<endpoint>` or `https://api.eu.samsara.com/v1/<endpoint>`
    </nb>
    </n>

    ## Authentication

    To authenticate your API request you will need to include your secret token. You can manage your API tokens in the [Dashboard](https://cloud.samsara.com). They are visible under `Settings->Organization->API Tokens`.

    Your API tokens carry many privileges, so be sure to keep them secure. Do not share your secret API tokens in publicly accessible areas such as GitHub, client-side code, and so on.

    Authentication to the API is performed via Bearer Token in the HTTP Authorization header. Provide your API token as the `access_token` value in an `Authorization: Bearer` header. You do not need to provide a password:

    ```curl
    Authorization: Bearer {access_token}
    ```

    All API requests must be made over [HTTPS](https://en.wikipedia.org/wiki/HTTPS). Calls made over plain HTTP or without authentication will fail.

    ## Common Patterns

    You can find more info about request methods, response codes, error codes, versioning, pagination, timestamps, and mini-objects [here](https://developers.samsara.com/docs/common-structures).
  title: Samsara API
  version: 2019-12-12
servers:
- url: https://api.samsara.com/
tags:
- description: Address book entries in Samsara can be used to collect useful data
    about operations within a particular address's geofence area. Once an address
    book entry is established, this address can then subsequently be used in order
    to create routes, set geofence arrival alerts, or detect trips that begin or end
    within a given geofence area.
  name: Addresses
- description: 'Assets refer to objects that are tracked with Samsara Asset Gateways.
    These include: trailers, reefers, equipment (construction, etc.), containers,
    and anything else you''d like to track with a Samsara Asset Gateway. This is different
    than Vehicles, which specifically have a Samsara Vehicle Gateway. Depending on
    the asset, different data is available. For all assets, GPS data is available.
    For powered assets like trailers, reefers, and equipment, other engine or on-board
    diagnostic data is available.'
  name: Assets
- description: Contacts are an easy way to manage which users receive alerts (via
    sms or email).
  name: Contacts
- description: The documents feature allows you to manage driver-submitted documents
    from the Samsara app. Submitted documents are grouped by document types, and back
    office users can create new types of documents. For more information on the driver
    workflow around documents, see this [KB article](https://kb.samsara.com/hc/en-us/articles/360006911551-Using-Documents-in-the-Dashboard).
  name: Documents
- description: |-
    Driver objects allow you to track your driver-vehicle assignments, manage driver profiles, and update mobile app credential logins. You can retrieve a list of all drivers, or you can fetch each driver object individually.
    Drivers can be either active or inactive. You should inactivate a driver if you wish to keep the driver's driving history and HOS logs. If your driver is inactive, you can still get information about a driver summary.
  name: Drivers
- description: 'Driver logs containing duty status, certification details, and associated
    vehicles and trailers are available. You can also retrieve summarized total active
    time logs. Signin/Signout logs are also available. Drivers can track hours of
    service via the Samsara Driver mobile app. '
  name: Hours of Service
- description: Access to industrial data.
  name: Industrial
- description: Maintenance refers to both DVIRs and reports on vehicle fault codes.
  name: Maintenance
- description: Fleet Admins can send direct free-form messages to drivers. This will
    send a message to the driver's Samsara driver app, in which you can track whether
    or not a message has been read by a given driver. For sending structured messages,
    see the Documents API.
  name: Messages
- description: Dispatch routes include start and end times and locations and an array
    of jobs along the route. The jobs also include locations and scheduled arrival
    and departure times. As routes are completed, job skip, arrival, and completion
    times are made available in real-time. Routes can be associated with drivers,
    vehicles, and trailers, and jobs can be associated with documents.
  name: Routes
- description: Samsara provides you with more visibility on whether or not your fleets
    are being safe. With the collection of safety endpoints, you can get aggregate
    metrics around the performance of a particular driver or vehicle, as well as detailed
    logs of all the harsh events that take place in an organization.
  name: Safety
- description: The sensor object describes a sensor's attributes and settings within
    Samsara. Samsara has many different types of sensors, such as temperature and
    humidity monitors, door monitors, and more.
  name: Sensors
- description: Tags are a simple way to organize vehicles, drivers, assets, and sensors
    into easily identifiable groups. You can add unlimited entities to each tag, and
    entities can have multiple different tags. You can also use tag hierarchies in
    order to create nested classes, such as parent tag 'Massachusetts' and child tag
    'Boston'. They also allow you to restrict access to data through "tag-level" permissions.
    For more information on tags functionality, see [this Knowledge Base article](https://kb.samsara.com/hc/en-us/articles/360026674631-Using-Tags-and-Tag-Nesting).
  name: Tags
- description: List trailer assignments over a given time period for all trailers
    or a given one. Trailer assignments include which driver the trailer was assigned
    to and for which time period.
  name: Trailer Assignments
- description: 'Driving activity is segmented into trips (travel between a start and
    a stop). Vehicle movement is broken down into trips along the following lines:
    a trip begins when a previously inactive vehicle achieves a speed of 5mph; the
    trip ends when the vehicle''s speed remains below 5mph for 5 minutes, or when
    a vehicle crosses a state or national boundary. Trips contain start and stop times,
    locations, and addresses. Trips also contain distance and odometer information
    as well as fuel consumption.'
  name: Trips
- description: The users API allows you to manage access to the Samsara dashboard.
    This can be particularly useful if you are looking to set up a connection with
    your identity provider to manage roles and permissions for certain types of users
    within your system.
  name: Users
- description: |-
    A Vehicle object is created when a [Samsara Vehicle Gateway](https://www.samsara.com/products/models/vg34) is first activated.

    When the gateway is activated, a Vehicle object is created with a unique Samsara ID.

    Vehicle objects have static information (`name`, `licensePlate`, etc), and they also generate dynamic time-series data such as locations and diagnostics.

    Vehicle static information is defined by fleet administrators either through the [Samsara dashboard](http://cloud.samsara.com) or through the API.

    - You can get a list of Vehicles and their static information using the [GET /fleet/vehicles](#operation/listVehicles) endpoint.

    - You can get a given vehicle and its static information by its Samsara ID or an [external ID](https://developers.samsara.com/docs/common-structures#section-external-ids) using the [GET /fleet/vehicles/{id}](#operation/getVehicle) endpoint.

    - You can set or update static Vehicle information using the [PATCH /fleet/vehicles/{id}](#operation/updateVehicle) endpoint.

    You can get dynamic Vehicle time-series data in three ways:

    - Get a snapshot of the most recent readings for the time-series.

        - [GET /fleet/vehicles/locations](#operation/getVehicleLocations)

        - [GET /fleet/vehicles/stats](#operation/getVehicleStats)

    - Get a real-time feed of time-series data.

        - [GET /fleet/vehicles/locations/feed](#operation/getVehicleLocationsFeed)

        - [GET /fleet/vehicles/stats/feed](#operation/getVehicleStatsFeed)

    - Get a historical time-range of the time-series data.

        - [GET /fleet/vehicles/locations/history](#operation/getVehicleLocationsHistory)

        - [GET /fleet/vehicles/stats/feed](#operation/getVehicleStatsFeed)
  name: Vehicles
paths:
  /addresses:
    get:
      description: Returns a list of all addresses in an organization
      operationId: listAddresses
      parameters:
      - description: The limit for how many objects will be in the response. Default
          and max for this value is 512 objects.
        in: query
        name: limit
        schema:
          default: 512
          format: int64
          maximum: 512
          minimum: 1
          type: integer
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAddressesResponse'
          description: List of all addresses in the organization
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List all addresses
      tags:
      - Addresses
    post:
      description: Creates a new address in the organization
      operationId: createAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddressRequest'
        description: The address to create.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
          description: Newly created address object with ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Create an address
      tags:
      - Addresses
      x-codegen-request-body-name: address
  /addresses/{id}:
    delete:
      description: Delete a specific address.
      operationId: deleteAddress
      parameters:
      - description: 'ID of the Address. This can either be the Samsara-provided ID
          or an external ID. External IDs are customer-specified key-value pairs created
          in the POST or PATCH requests of this resource. To specify an external ID
          as part of a path parameter, use the following format: `key:value`. For
          example, `crmId:abc123`'
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Empty success body
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Unexpected error.
      summary: Delete an address
      tags:
      - Addresses
    get:
      description: Returns a specific address.
      operationId: getAddress
      parameters:
      - description: 'ID of the Address. This can either be the Samsara-provided ID
          or an external ID. External IDs are customer-specified key-value pairs created
          in the POST or PATCH requests of this resource. To specify an external ID
          as part of a path parameter, use the following format: `key:value`. For
          example, `crmId:abc123`'
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
          description: An Address.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Retrieve an address
      tags:
      - Addresses
    patch:
      description: Update a specific address.
      operationId: updateAddress
      parameters:
      - description: 'ID of the Address. This can either be the Samsara-provided ID
          or an external ID. External IDs are customer-specified key-value pairs created
          in the POST or PATCH requests of this resource. To specify an external ID
          as part of a path parameter, use the following format: `key:value`. For
          example, `crmId:abc123`'
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddressRequest'
        description: The address fields to update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
          description: Updated address object with ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Update an address
      tags:
      - Addresses
      x-codegen-request-body-name: address
  /contacts:
    get:
      description: Returns a list of all contacts in an organization.
      operationId: listContacts
      parameters:
      - description: The limit for how many objects will be in the response. Default
          and max for this value is 512 objects.
        in: query
        name: limit
        schema:
          default: 512
          format: int64
          maximum: 512
          minimum: 1
          type: integer
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContactsResponse'
          description: List of all contacts
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List all contacts
      tags:
      - Contacts
    post:
      description: Add a contact to the organization
      operationId: createContact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactRequest'
        description: The contact create parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
          description: Contact was successfully added.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Create a contact
      tags:
      - Contacts
      x-codegen-request-body-name: contact
  /contacts/{id}:
    delete:
      description: Delete the given contact.
      operationId: deleteContact
      parameters:
      - description: Unique identifier for the contact.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Returns an empty success response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Delete a contact
      tags:
      - Contacts
    get:
      description: Get a specific contact's information.
      operationId: getContact
      parameters:
      - description: Unique identifier for the contact.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
          description: Returns the specified contact.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Retrieve a contact
      tags:
      - Contacts
    patch:
      description: Update a specific contact's information.
      operationId: updateContact
      parameters:
      - description: Unique identifier for the contact.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactRequest'
        description: Updates to the contact.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
          description: Updated contact object with given ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Update a contact
      tags:
      - Contacts
      x-codegen-request-body-name: contact
  /fleet/carrier-proposed-assignments:
    get:
      description: Show the assignments that drivers would see in the future.
      operationId: listCarrierProposedAssignments
      parameters:
      - description: The limit for how many objects will be in the response. Default
          and max for this value is 512 objects.
        in: query
        name: limit
        schema:
          default: 512
          format: int64
          maximum: 512
          minimum: 1
          type: integer
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: If specified, limits the results to those for these drivers.
          e.g. `driverIds=1,2,3`
        explode: false
        in: query
        name: driverIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'If specified, shows assignments that will be active after this
          time. In RFC 3339 format. Millisecond precision and timezones are supported.
          (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: activeTime
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCarrierProposedAssignmentResponse'
          description: Returns the assignments that drivers would see in the future,
            if any.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Retrieve assignments
      tags:
      - Carrier Proposed Assignments
    post:
      description: Creates a new assignment that a driver can later use. Each driver
        can only have one future assignment.
      operationId: createCarrierProposedAssignment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCarrierProposedAssignmentRequest'
        description: The assignment to create.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierProposedAssignmentResponse'
          description: Return the created assignment
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Create an assignment
      tags:
      - Carrier Proposed Assignments
      x-codegen-request-body-name: carrierProposedAssignment
  /fleet/carrier-proposed-assignments/{id}:
    delete:
      description: Permanently delete an assignment. You can only delete assignments
        that are not yet active. To override a currently active assignment, create
        a new empty one, instead.
      operationId: deleteCarrierProposedAssignment
      parameters:
      - description: ID of the assignment.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Empty success body
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Delete an assignment
      tags:
      - Carrier Proposed Assignments
  /fleet/defects:
    get:
      description: Returns a list of DVIR defects in an organization, filtered by
        creation time. The maximum time period you can query for is 30 days.
      operationId: getDvirDefects
      parameters:
      - description: The limit for how many objects will be in the response. Default
          and max for this value is 512 objects.
        in: query
        name: limit
        schema:
          default: 512
          format: int64
          maximum: 512
          minimum: 1
          type: integer
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A start time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00). *The maximum time period you can query for
          is 30 days.*'
        in: query
        name: startTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'An end time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00). *The maximum time period you can query for
          is 30 days.*'
        in: query
        name: endTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'A filter on the data based on resolution status. Example: `isResolved=true`'
        in: query
        name: isResolved
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: List of all DVIR defects in the organization
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Get all defects
      tags:
      - Maintenance
  /fleet/defects/{id}:
    patch:
      description: Resolves a given defect by marking its `isResolved` field to `true`.
      operationId: resolveDvirDefect
      parameters:
      - description: ID of the defect.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DefectPatch'
        description: The DVIR defect fields to update.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Return the modified defect entity
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Resolve a defect
      tags:
      - Maintenance
      x-codegen-request-body-name: defect
  /fleet/document-types:
    get:
      description: Get information about all document types.
      operationId: getDocumentTypes
      parameters:
      - description: The limit for how many objects will be in the response. Default
          and max for this value is 512 objects.
        in: query
        name: limit
        schema:
          default: 512
          format: int64
          maximum: 512
          minimum: 1
          type: integer
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Returns all of the document types.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List all document types
      tags:
      - Documents
  /fleet/documents:
    get:
      description: Get all documents
      operationId: getDocuments
      parameters:
      - description: The limit for how many objects will be in the response. Default
          and max for this value is 512 objects.
        in: query
        name: limit
        schema:
          default: 512
          format: int64
          maximum: 512
          minimum: 1
          type: integer
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A start time in RFC 3339 format. Queries documents on createdAtTime.
          Is required if an endTime is specified. Defaults to current time - 1 day
          if startTime and endTime are not provided. (Example: 2019-06-13T19:08:25Z).'
        in: query
        name: startTime
        schema:
          format: date-time
          type: string
      - description: 'An end time in RFC 3339 format. Queries documents on createdAtTime.
          Defaults to startTime + 1 day if not specified. (Example: 2019-06-13T19:08:25Z).
          Time range cannot exceed 3 days (72 hours).'
        in: query
        name: endTime
        schema:
          format: date-time
          type: string
      - description: A document type ID.
        in: query
        name: documentTypeId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: List of all documents
      summary: List all documents
      tags:
      - Documents
    post:
      description: Create a document for a particular driver at a specific route stop.
      operationId: createDocument
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentCreate'
        description: The document to create.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Newly created document object, including the new document ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Create a document
      tags:
      - Documents
      x-codegen-request-body-name: document
  /fleet/documents/{id}:
    delete:
      description: Delete a specific document.
      operationId: deleteDocument
      parameters:
      - description: ID of the document.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Empty success body
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Delete a document
      tags:
      - Documents
  /fleet/drivers:
    get:
      description: Get all drivers in organization.
      operationId: listDrivers
      parameters:
      - description: If value is `deactivated`, only drivers that are deactivated
          will appear in the response. This parameter will default to `active` if
          not provided (fetching only active drivers).
        in: query
        name: driverActivationStatus
        schema:
          enum:
          - active
          - deactivated
          type: string
      - description: The limit for how many objects will be in the response. Default
          and max for this value is 512 objects.
        in: query
        name: limit
        schema:
          default: 512
          format: int64
          maximum: 512
          minimum: 1
          type: integer
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on data to have an updated at time after or equal to
          this specified time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: updatedAfterTime
        schema:
          format: date-time
          type: string
      - description: 'A filter on data to have a created at time after or equal to
          this specified time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: createdAfterTime
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDriversResponse'
          description: List of all driver objects.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List all drivers
      tags:
      - Drivers
    post:
      description: Add a driver to the organization.
      operationId: createDriver
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDriverRequest'
        description: The driver to create.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverResponse'
          description: Newly created driver object, with Samsara-generated ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Create a driver
      tags:
      - Drivers
      x-codegen-request-body-name: driver
  /fleet/drivers/safety-scores:
    get:
      description: Fetch safety scores for all drivers in the organization in a given
        time period.
      operationId: getOrgDriverSafetyScores
      parameters:
      - description: Beginning of the time range, specified in RFC 3339 time.
        in: query
        name: startTime
        required: true
        schema:
          format: string
          type: string
      - description: End of the time range, specified in RFC 3339 time.
        in: query
        name: endTime
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgSafetyScoresResponse'
          description: Safety scores for all vehicles in the organization
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List all safety scores by driver
      tags:
      - Safety
  /fleet/drivers/tachograph-activity/history:
    get:
      description: Returns all known tachograph activity for all specified drivers
        in the time range.
      operationId: getDriverTachographActivity
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A start time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'An end time in RFC 3339 format. It can''t be more than 30 days
          past startTime. Millisecond precision and timezones are supported. (Examples:
          2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z, OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'A filter on the data based on this comma-separated list of driver
          IDs. Currently only support querying by a single ID. Example: `driverIds=1234`'
        explode: false
        in: query
        name: driverIds
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverTachographActivityResponse'
          description: List of all driver tachograph activities in a specified time
            range.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Get driver tachograph activity
      tags:
      - Drivers
  /fleet/drivers/{id}:
    get:
      description: Get information about a driver.
      operationId: getDriver
      parameters:
      - description: 'ID of the driver. This can either be the Samsara-specified ID,
          or an external ID. External IDs are customer specified key-value pairs created
          in the POST or PATCH requests of this resource. To specify an external ID
          as part of a path parameter, use the following format: `key:value`. For
          example, `payrollId:ABFS18600`'
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverResponse'
          description: Returns the specified driver.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Retrieve a driver
      tags:
      - Drivers
    patch:
      description: Update a specific driver's information. This can also be used to
        activate or de-activate a given driver by setting the driverActivationStatus
        field.
      operationId: updateDriver
      parameters:
      - description: 'ID of the driver. This can either be the Samsara-specified ID,
          or an external ID. External IDs are customer specified key-value pairs created
          in the POST or PATCH requests of this resource. To specify an external ID
          as part of a path parameter, use the following format: `key:value`. For
          example, `payrollId:ABFS18600`'
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDriverRequest'
        description: Updates to the driver properties.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverResponse'
          description: Updated driver object, with ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Update a driver
      tags:
      - Drivers
      x-codegen-request-body-name: driver
  /fleet/dvirs:
    post:
      description: Creates a new mechanic DVIR in the organization.
      operationId: createDvir
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDvirRequest'
        description: The DVIR to create.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirResponse'
          description: Newly created DVIR.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Create a mechanic DVIR
      tags:
      - Maintenance
      x-codegen-request-body-name: dvir
  /fleet/dvirs/history:
    get:
      description: Returns a list of all DVIRs in an organization
      operationId: getDvirHistory
      parameters:
      - description: The limit for how many objects will be in the response. Default
          and max for this value is 512 objects.
        in: query
        name: limit
        schema:
          default: 512
          format: int64
          maximum: 512
          minimum: 1
          type: integer
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of vehicle
          IDs. Example: `vehicleIds=1234,5678`'
        explode: false
        in: query
        name: vehicleIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of trailer
          IDs. Example: `trailerIds=1234,5678`'
        explode: false
        in: query
        name: trailerIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A start time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'An end time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        required: true
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirsListResponse'
          description: List of all DVIRs in the organization
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Get all DVIRs
      tags:
      - Maintenance
  /fleet/dvirs/{id}:
    get:
      description: Returns a specific dvir
      operationId: getDvirById
      parameters:
      - description: ID of the DVIR.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirResponse'
          description: A dvir object with ID
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Retrieve a DVIR
      tags:
      - Maintenance
    patch:
      description: Resolves a given DVIR by marking its `isResolved` field to `true`.
      operationId: updateDvirById
      parameters:
      - description: ID of the DVIR.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDvirRequest'
        description: The dvir fields to update.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DvirResponse'
          description: Updated dvir object with ID.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Resolve a DVIR
      tags:
      - Maintenance
      x-codegen-request-body-name: dvir
  /fleet/equipment:
    get:
      description: Returns a list of all equipment in an organization, ordered by
        equipment ID. Equipment is defined as Samsara AG24s connected via APWR, J1939,
        or CAT cables.
      operationId: getEquipmentList
      parameters:
      - description: The limit for how many objects will be in the response. Default
          and max for this value is 512 objects.
        in: query
        name: limit
        schema:
          default: 512
          format: int64
          maximum: 512
          minimum: 1
          type: integer
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentListResponse'
          description: List of all equipment objects, and pagination parameters.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List all equipment
      tags:
      - Equipment
  /fleet/equipment/locations:
    get:
      description: Returns last known locations for all equipment (Samsara AG24s connected
        via APWR, J1939, or CAT cables). This can be optionally filtered by tags or
        specific equipment IDs.
      operationId: getEquipmentLocationSnapshot
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of equipment
          IDs. Example: `equipmentIds=1234,5678`'
        explode: false
        in: query
        name: equipmentIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: List of all equipment location objects and pagination parameters
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List most recent equipment locations
      tags:
      - Equipment
  /fleet/equipment/locations/feed:
    get:
      description: |-
        Follow a continuous feed of all equipment locations from Samsara AG24s connected via APWR, J1939, or CAT cables.

        Your first call to this endpoint will provide you with the most recent location for each piece of equipment and a `pagination` object that contains an `endCursor`.

        You can provide the `endCursor` to the `after` parameter of this endpoint to get location updates since that `endCursor`.

        If `hasNextPage` is `false`, no updates are readily available yet. We'd suggest waiting a minimum of 5 seconds before requesting updates.
      operationId: getEquipmentLocationsFeed
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of equipment
          IDs. Example: `equipmentIds=1234,5678`'
        explode: false
        in: query
        name: equipmentIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: List of all locations for the specified pieces of equipment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Follow a real-time feed of equipment locations
      tags:
      - Equipment
  /fleet/equipment/locations/history:
    get:
      description: Returns all known equipment location changes during the given time
        range for all powered equipment (AG24s connected with a APWR, J1939, or CAT
        cable). This can be optionally filtered by tags or specific equipment IDs.
      operationId: getEquipmentLocationsHistory
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A start time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'An end time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of equipment
          IDs. Example: `equipmentIds=1234,5678`'
        explode: false
        in: query
        name: equipmentIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: List of all equipment locations and pagination parameters
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Get historical equipment locations
      tags:
      - Equipment
  /fleet/equipment/stats:
    get:
      description: Returns last known stats for all equipment (Samsara AG24s connected
        connected via APWR, J1939, or CAT cables). This can be optionally filtered
        by tags or specific equipment IDs.
      operationId: getEquipmentStatsSnapshot
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of equipment
          IDs. Example: `equipmentIds=1234,5678`'
        explode: false
        in: query
        name: equipmentIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A comma separated list of stat types.
        explode: false
        in: query
        name: types
        schema:
          items:
            enum:
            - gatewayEngineStates
            - obdEngineStates
            - fuelPercents
            - engineRpm
            - gatewayEngineSeconds
            - obdEngineSeconds
            - gpsOdometerMeters
            format: string
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: List of all equipment stat objects and pagination parameters
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List most recent equipment stats
      tags:
      - Equipment
  /fleet/equipment/stats/feed:
    get:
      description: |-
        Follow a continuous feed of all equipment stats from Samsara AG24s connected via APWR, J1939, or CAT cables.

        Your first call to this endpoint will provide you with the most recent stats for each piece of equipment and a `pagination` object that contains an `endCursor`.

        You can provide the `endCursor` to the `after` parameter of this endpoint to get equipment stats updates since that `endCursor`.

        If `hasNextPage` is `false`, no updates are readily available yet. Each stat type has a different refresh rate, but in general we'd suggest waiting a minimum of 5 seconds before requesting updates.
      operationId: getEquipmentStatsFeed
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of equipment
          IDs. Example: `equipmentIds=1234,5678`'
        explode: false
        in: query
        name: equipmentIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A comma separated list of stat types.
        explode: false
        in: query
        name: types
        schema:
          items:
            enum:
            - gatewayEngineStates
            - obdEngineStates
            - fuelPercents
            - engineRpm
            - gatewayEngineSeconds
            - obdEngineSeconds
            - gpsOdometerMeters
            format: string
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: List of all equipment stat objects and pagination parameters
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Follow a real-time feed of equipment stats
      tags:
      - Equipment
  /fleet/equipment/stats/history:
    get:
      description: Returns all known equipment stat changes during the given time
        range for all powered equipment (Samsara AG24s connected via APWR, J1939,
        or CAT cables). This can be optionally filtered by tags or specific equipment
        IDs.
      operationId: getEquipmentStatsHistory
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A start time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'An end time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of equipment
          IDs. Example: `equipmentIds=1234,5678`'
        explode: false
        in: query
        name: equipmentIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: A comma separated list of stat types.
        explode: false
        in: query
        name: types
        schema:
          items:
            enum:
            - gatewayEngineStates
            - obdEngineStates
            - fuelPercents
            - engineRpm
            - gatewayEngineSeconds
            - obdEngineSeconds
            - gpsOdometerMeters
            format: string
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: List of all equipment stat objects and pagination parameters
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Get historical equipment stats
      tags:
      - Equipment
  /fleet/equipment/{id}:
    get:
      description: Get information about a specific piece of equipment. Equipment
        is defined as Samsara AG24s connected via APWR, J1939, or CAT cables.
      operationId: getEquipmentById
      parameters:
      - description: Samsara ID of the equipment.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Returns the specified equipment object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Retrieve a unit of equipment
      tags:
      - Equipment
  /fleet/routes:
    post:
      description: Create a route. There is currently no support for creating a recurring
        route or optimizing a route.
      operationId: createRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRouteRequest'
        description: Add a route.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Returns the created route
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Create a route.
      tags:
      - Routes
      x-codegen-request-body-name: route
  /fleet/routes/{id}:
    delete:
      description: Delete a route. Deletes a single instance of a route. Does not
        delete a recurring route. Does not delete associated documents or trips.
      operationId: deleteRouteById
      parameters:
      - description: Unique identifier for the route.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Returns an empty success response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Delete a single route
      tags:
      - Routes
    get:
      description: Retrieve a route
      operationId: getRoute
      parameters:
      - description: Unique identifier for the route.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Returns the specified route.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Get information about a single route
      tags:
      - Routes
  /fleet/unassigned-driving-segments:
    get:
      description: Get the unassigned driving segments for a specified range.
      operationId: getUnassignedDrivingSegments
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: ID(s) of a specific unassigned driving segment(s). Takes precedent
          over filter time range params. Supports multiple comma-separated IDs using
          csv format (ex. ?id=1,2,3).
        explode: false
        in: query
        name: id
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: 'Beginning of the filter time range, specified in RFC 3339 format.
          (Example: 2019-06-13T18:08:25Z) Filters based on the server timestamp, i.e.
          createAtTime.'
        in: query
        name: startTime
        schema:
          format: date-time
          type: string
      - description: 'End of the filter time range, specified in RFC 3339 format.
          (Example: 2019-06-13T19:08:25Z) Filters based on the server timestamp, i.e.
          createAtTime.'
        in: query
        name: endTime
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Unassigned driving segments for provided time range.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List all unassigned driving segments
      tags:
      - Unassigned Driving Segments
  /fleet/unassigned-driving-segments/{id}:
    patch:
      description: Assign an unassigned driving segment to a driver.
      operationId: patchUnassignedDrivingSegments
      parameters:
      - description: ID of a specific unassigned driving segment.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                annotation:
                  description: Annotation for the driving segment.
                  example: Yard move.
                  format: string
                  type: string
                driverId:
                  description: ID of Driver to assign this segment to. The driver
                    assignment is a tentative assignment until the ID is 'ACCEPTED'.
                  example: "1234"
                  type: string
              required:
              - annotation
              - driverId
              type: object
        description: Driver ID to assign this driving segment to, and/or an annotation
          reason.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: The updated unassigned driving segment.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Assign an unassigned driving segment
      tags:
      - Unassigned Driving Segments
      x-codegen-request-body-name: updateUnassignedDrivingSegment
  /fleet/vehicles:
    get:
      description: Returns a list of all vehicles.
      operationId: listVehicles
      parameters:
      - description: The limit for how many objects will be in the response. Default
          and max for this value is 512 objects.
        in: query
        name: limit
        schema:
          default: 512
          format: int64
          maximum: 512
          minimum: 1
          type: integer
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVehiclesResponse'
          description: List of all vehicle objects, and pagination parameters.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List all vehicles
      tags:
      - Vehicles
  /fleet/vehicles/harsh-events:
    get:
      description: Fetch all harsh events for the organization in a given time period.
      operationId: getOrgHarshEvents
      parameters:
      - description: Beginning of the time range, specified in RFC 3339 time.
        in: query
        name: startTime
        required: true
        schema:
          format: string
          type: string
      - description: End of the time range, specified in RFC 3339 time.
        in: query
        name: endTime
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgHarshEventsKondoResponse'
          description: Harsh events for the organization
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List all harsh events
      tags:
      - Safety
  /fleet/vehicles/locations:
    get:
      description: Returns last known location for all vehicles (connected via Samsara
        Vehicle Gateways). This can be optionally filtered by tags or specific vehicle
        IDs. See [here](https://developers.samsara.com/docs/vehicle-locations) for
        more details.
      operationId: getVehicleLocations
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of vehicle
          IDs. Example: `vehicleIds=1234,5678`'
        explode: false
        in: query
        name: vehicleIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleLocationsResponse'
          description: List of the most recent locations for the specified vehicles.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Get most recent vehicle locations
      tags:
      - Vehicles
  /fleet/vehicles/locations/feed:
    get:
      description: "Follow a continuous feed of all vehicle locations from Samsara\
        \ Vehicle Gateways.\n\nYour first call to this endpoint will provide you with\
        \ the most recent location for each vehicle and a `pagination` object that\
        \ contains an `endCursor`.\n\nYou can provide the `endCursor` to the `after`\
        \ parameter of this endpoint to get location updates since that `endCursor`.\
        \ \n\nIf `hasNextPage` is `false`, no updates are readily available yet. We'd\
        \ suggest waiting a minimum of 5 seconds before requesting updates.\n\nSee\
        \ [this guide](https://developers.samsara.com/docs/vehicle-locations#section-follow-a-real-time-feed-of-vehicle-locations)\
        \ for more details."
      operationId: getVehicleLocationsFeed
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of vehicle
          IDs. Example: `vehicleIds=1234,5678`'
        explode: false
        in: query
        name: vehicleIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleLocationsListResponse'
          description: List of locations events for the specified vehicles.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Follow a feed of vehicle locations
      tags:
      - Vehicles
  /fleet/vehicles/locations/history:
    get:
      description: Returns all known vehicle locations during the given time range
        for all vehicles (connected via Samsara Vehicle Gateways). This can be optionally
        filtered by tags or specific vehicle IDs. See [here](https://developers.samsara.com/docs/vehicle-locations)
        for more details.
      operationId: getVehicleLocationsHistory
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A start time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'An end time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of vehicle
          IDs. Example: `vehicleIds=1234,5678`'
        explode: false
        in: query
        name: vehicleIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleLocationsListResponse'
          description: List of all locations for the specified vehicles and time range.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Get historical vehicle locations
      tags:
      - Vehicles
  /fleet/vehicles/safety-scores:
    get:
      description: Fetch safety scores for all vehicles in the organization in a given
        time period.
      operationId: getOrgVehicleSafetyScores
      parameters:
      - description: Beginning of the time range, specified in RFC 3339 time.
        in: query
        name: startTime
        required: true
        schema:
          format: string
          type: string
      - description: End of the time range, specified in RFC 3339 time.
        in: query
        name: endTime
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgSafetyScoresResponse'
          description: Safety scores for all vehicles in the organization
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List all safety scores by vehicle
      tags:
      - Safety
  /fleet/vehicles/stats:
    get:
      description: Returns last known stats for all vehicles (connected via Samsara
        Vehicle Gateways). This can be optionally filtered by tags or specific vehicle
        IDs. See [here](https://developers.samsara.com/docs/vehicle-stats) for more
        details.
      operationId: getVehicleStats
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of vehicle
          IDs. Example: `vehicleIds=1234,5678`'
        explode: false
        in: query
        name: vehicleIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          The stat type you want this endpoint to return information on. Currently only one stat type is accepted per request.

          - `engineStates`: The state of the engine (`Off`, `On`, `Idle`).
          - `fuelPercents`: The engine fuel level in percentage points (e.g. `99`, `50`, etc).
          - `obdOdometerMeters`: The odometer reading according to on-board diagnostics. If Samsara does not have diagnostic coverage for a particular vehicle, the value for this stat type will be omitted. In these cases, we recommend using `gpsOdometerMeters`.
          - `gpsOdometerMeters`: The odometer reading according to GPS calculations. This calculation is based off GPS distance traveled and a manual odometer offset for a given vehicle, specified by the user in Samsara's dashboard UI or through the `odometerMeters` field in the [PATCH /fleet/vehicles/{id}](#operation/updateVehicleById) endpoint. `gpsOdometerMeters` is equal to the manual offset plus the GPS distance traveled since the offset was set. The value for this stat type will be omitted if a manual offset is not provided for a given vehicle. *A manual offset can only be provided when we do not have diagnostic coverage for a particular vehicle.*
          - `obdEngineSeconds`: The cumulative number of seconds the engine has run according to on-board diagnostics.
          - `gpsDistanceMeters`: The distance the vehicle has traveled since the gateway was installed based on GPS calculations.
        explode: false
        in: query
        name: types
        required: true
        schema:
          items:
            enum:
            - engineStates
            - fuelPercents
            - obdOdometerMeters
            - gpsOdometerMeters
            - obdEngineSeconds
            - gpsDistanceMeters
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleStatsResponse'
          description: List of the most recent stats for the specified vehicles and
            stat types.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: List most recent vehicle stats
      tags:
      - Vehicles
  /fleet/vehicles/stats/feed:
    get:
      description: |-
        Follow a continuous feed of vehicle stats from Samsara Vehicle Gateways.

        Your first call to this endpoint will provide you with the most recent stats for each vehicle and a `pagination` object that contains an `endCursor`.

        You can provide the `endCursor` to the `after` parameter of this endpoint to get vehicle stat updates since that `endCursor`.

        If `hasNextPage` is `false`, no updates are readily available yet. Each stat type has a different refresh rate, but in general we'd suggest waiting a minimum of 5 seconds before requesting updates. See [this guide](https://developers.samsara.com/docs/vehicle-stats#section-follow-a-real-time-feed-of-vehicle-stats) for more details.
      operationId: getVehicleStatsFeed
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of vehicle
          IDs. Example: `vehicleIds=1234,5678`'
        explode: false
        in: query
        name: vehicleIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          The stat type you want this endpoint to return information on. Currently only one stat type is accepted per request.

          - `engineStates`: The state of the engine (`Off`, `On`, `Idle`).
          - `fuelPercents`: The engine fuel level in percentage points (e.g. `99`, `50`, etc).
          - `obdOdometerMeters`: The odometer reading according to on-board diagnostics. If Samsara does not have diagnostic coverage for a particular vehicle, the value for this stat type will be omitted. In these cases, we recommend using `gpsOdometerMeters`.
          - `gpsOdometerMeters`: The odometer reading according to GPS calculations. This calculation is based off GPS distance traveled and a manual odometer offset for a given vehicle, specified by the user in Samsara's dashboard UI or through the `odometerMeters` field in the [PATCH /fleet/vehicles/{id}](#operation/updateVehicleById) endpoint. `gpsOdometerMeters` is equal to the manual offset plus the GPS distance traveled since the offset was set. The value for this stat type will be omitted if a manual offset is not provided for a given vehicle. *A manual offset can only be provided when we do not have diagnostic coverage for a particular vehicle.*
          - `obdEngineSeconds`: The cumulative number of seconds the engine has run according to on-board diagnostics.
          - `gpsDistanceMeters`: The distance the vehicle has traveled since the gateway was installed based on GPS calculations.
        explode: false
        in: query
        name: types
        required: true
        schema:
          items:
            enum:
            - engineStates
            - fuelPercents
            - obdOdometerMeters
            - gpsOdometerMeters
            - obdEngineSeconds
            - gpsDistanceMeters
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleStatsListResponse'
          description: List of stat events for the specified vehicles and stat types.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Follow a feed of vehicle stats
      tags:
      - Vehicles
  /fleet/vehicles/stats/history:
    get:
      description: Returns vehicle stats events during the given time range for all
        vehicles (connected via Samsara Vehicle Gateways). This can be optionally
        filtered by tags or specific vehicle IDs. See [here](https://developers.samsara.com/docs/vehicle-stats)
        for more details.
      operationId: getVehicleStatsHistory
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A start time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: startTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'An end time in RFC 3339 format. Millisecond precision and timezones
          are supported. (Examples: 2019-06-13T19:08:25Z, 2019-06-13T19:08:25.455Z,
          OR 2015-09-15T14:00:12-04:00).'
        in: query
        name: endTime
        required: true
        schema:
          format: date-time
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A filter on the data based on this comma-separated list of vehicle
          IDs. Example: `vehicleIds=1234,5678`'
        explode: false
        in: query
        name: vehicleIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          The stat type you want this endpoint to return information on. Currently only one stat type is accepted per request.

          - `engineStates`: The state of the engine (`Off`, `On`, `Idle`).
          - `fuelPercents`: The engine fuel level in percentage points (e.g. `99`, `50`, etc).
          - `obdOdometerMeters`: The odometer reading according to on-board diagnostics. If Samsara does not have diagnostic coverage for a particular vehicle, the value for this stat type will be omitted. In these cases, we recommend using `gpsOdometerMeters`.
          - `gpsOdometerMeters`: The odometer reading according to GPS calculations. This calculation is based off GPS distance traveled and a manual odometer offset for a given vehicle, specified by the user in Samsara's dashboard UI or through the `odometerMeters` field in the [PATCH /fleet/vehicles/{id}](#operation/updateVehicleById) endpoint. `gpsOdometerMeters` is equal to the manual offset plus the GPS distance traveled since the offset was set. The value for this stat type will be omitted if a manual offset is not provided for a given vehicle. *A manual offset can only be provided when we do not have diagnostic coverage for a particular vehicle.*
          - `obdEngineSeconds`: The cumulative number of seconds the engine has run according to on-board diagnostics.
          - `gpsDistanceMeters`: The distance the vehicle has traveled since the gateway was installed based on GPS calculations.
        explode: false
        in: query
        name: types
        required: true
        schema:
          items:
            enum:
            - engineStates
            - fuelPercents
            - obdOdometerMeters
            - gpsOdometerMeters
            - obdEngineSeconds
            - gpsDistanceMeters
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleStatsListResponse'
          description: List of vehicle stats for the specified vehicles, stat type,
            and time range.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Get historical vehicle stats
      tags:
      - Vehicles
  /fleet/vehicles/{id}:
    get:
      description: Get information about a specific vehicle.
      operationId: getVehicle
      parameters:
      - description: 'ID of the vehicle. This can either be the Samsara-specified
          ID, or an external ID. External IDs are customer specified key-value pairs
          created in the POST or PATCH requests of this resource. To specify an external
          ID as part of a path parameter, use the following format: `key:value`. For
          example, `maintenanceId:250020`'
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleResponse'
          description: Returns the specified vehicle object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Retrieve a vehicle
      tags:
      - Vehicles
    patch:
      description: |-
        Updates the given Vehicle object.

        **Note:** Vehicle objects are automatically created when Samsara Vehicle Gateways are installed. You cannot create a Vehicle object via API.

        You are able to *update* many of the fields of a Vehicle.

        **Note**: There are no required fields in the request body, and you only need to provide the fields you wish to update.
      operationId: updateVehicle
      parameters:
      - description: 'ID of the vehicle. This can either be the Samsara-specified
          ID, or an external ID. External IDs are customer specified key-value pairs
          created in the POST or PATCH requests of this resource. To specify an external
          ID as part of a path parameter, use the following format: `key:value`. For
          example, `maintenanceId:250020`'
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVehicleRequest'
        description: Fields that can be patched on a vehicle.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleResponse'
          description: Returns the specified vehicle object.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Error response
      summary: Update a vehicle
      tags:
      - Vehicles
      x-codegen-request-body-name: vehicle
  /industrial/data-inputs:
    get:
      description: Returns all data inputs, optionally filtered by tags.
      operationId: getDataInputs
      parameters:
      - description: The limit for how many objects will be in the response. Default
          and max for this value is 512 objects.
        in: query
        name: limit
        schema:
          default: 512
          format: int64
          maximum: 512
          minimum: 1
          type: integer
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: List of data inputs with names, ids, and other metadata.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Unexpected error.
      summary: List all data inputs
      tags:
      - Industrial
  /industrial/data-inputs/data-points:
    get:
      description: Returns last known data points for all data inputs. This can be
        filtered by optional tags or specific data input IDs.
      operationId: getDataInputDataSnapshot
      parameters:
      - description: If specified, this should be the endCursor value from the previous
          page of results. When present, this request will return the next page of
          results that occur immediately after the previous page of results.
        in: query
        name: after
        schema:
          type: string
      - description: 'A filter on the data based on this comma-separated list of tag
          IDs. Example: `tagIds=1234,5678`'
        explode: false
        in: query
        name: tagIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'A comma-separated list of data input IDs. Example: `dataInputIds=1234,5678`'
        explode: false
        in: query
        name: dataInputIds
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataInputSnapshotResponse'
          description: List of last known data input data points and pagination parameters
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/standardErrorResponse'
          description: Unexpected error.
      summary: List most recent data input data points
      tags:
      - Industrial
  /industrial/data-inputs/data-points/feed:
    get:
      description: |-
[...]
